body {
  background-color: #ede8dc;
  font-family: "Short Stack", cursive;
}
.container {
  display: flex ;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebar {
  width: 20px;
  background-color: #a5b68d;
  display: block; 
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0%;
  bottom: 0%;
  overflow: hidden;
  align-items: center;
  align-content: center;
  z-index: 1;
}

.horizontal-line-up {
  position: absolute;
  top: 10%;
  border: 5px solid #e7cccc;
  width: 200px;
}

.horizontal-line-down {
  position: absolute;
  top: 90%;
  border: 5px solid #e7cccc;
  width: 200px;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: #ede8dc;
  font-family: "Short Stack", cursive;
  cursor: pointer;
  transition-duration: 0.4s;
}

.sidebar a:hover {
  color: #5C7650;
  font-size: 27px;
  font-weight: bolder;
}

.home-journal {
  height: 95vh;
}

.home-journal::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(checkered\ bg.png);
  opacity: 0.3;
  z-index: 0;
}

.home-journal h1 {
  position: relative;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  text-align: center;
  border-bottom: 1px dotted #b1a99b;
  text-indent: 25px;
  height: auto;
  text-transform: capitalize;
  color: #5C7650;
  font-weight: bolder;
  padding-top: 80px;
  z-index: 3;
}

.home-journal p {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px dotted #b1a99b;
  text-indent: 25px;
  height: auto;
  text-transform: capitalize;
  color: #5C7650;
}

.home-journal footer {
  position: absolute;
  left: 10%;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: #a5b68d;
  overflow: hidden;
  z-index: 0;
  height: 7.5%;
  color: #273024;
  border-top: 9px solid #e7cccc;
  padding-bottom: 5px;
}

.home-journal footer h5 {
  animation: blink 3s linear infinite;
}

.postit {
  background-color: #b5bea5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 7%;
  border-radius: 45px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  transform: rotate(-2deg);
}

.postit p {
  color: #faf7f1;
  font-size: 20px;
  padding: 20px;
  border: 3px dashed antiquewhite;
  border-radius: 25px;
  transform: rotate(-0.2deg);
}

.content {
  margin-left: 250px;
  width: 100%;
}


.entry {
  display: block;
  align-content: center;
  justify-content: center;
  height: 100vh;
  margin-inline: auto;
  height: 95vh;
}

.entry textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  height: 30%;
  resize: none;
  background-color: #faf7f1;
  text-align: center;
  border: 2px solid #e7cccc;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Short Stack", cursive;
  color: #5C7650;
  font-size: 20px;
}

.entry h1 {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  text-transform: capitalize;
  color: #5C7650;
}

.entry button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #faf7f1;
  border: 2px solid #e7cccc;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Short Stack", cursive;
  font-weight: bolder;
  color: #5C7650;
  transition: 0.4s;
}

.entry button:hover {
  background-color: #e7cccc;
  box-shadow: 2px 2px 10px 2px #c7c1b1;
}


.archive h1 {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  place-items: center;
  text-align: center;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  text-transform: capitalize;
  color: #5C7650;
  margin-top: 50px;
}


.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #e7cccc;
  border-radius: 25px;
  background-color: #faf7f1;
  width: 400px;
  height: 200px;
  overflow: auto;
}

.card p {
  padding-left: 25px;
  padding-left: 25px;
  color: #5C7650;
  text-align: center;
}

::-webkit-scrollbar {
  background:none;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}